<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Track Cristiano Ronaldo's journey to 1000 professional goals with live updates, interactive stats, and real-time predictions at CR7to1000.com. Explore comprehensive soccer data and performance analysis for the ultimate Ronaldo fan experience.">
    <meta name="keywords" content="cr7 Goal Tracker, Cristiano Ronaldo Goals, Ronaldo 1000 Goals Countdown, Ronaldo Achievement Tracker, Football Data Visualization, Live Ronaldo Goal Updates, CR7 Goals Progress, Live cr7 stats">
    <meta name="author" content="Marin NAGY">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="icon" type="" href="{{ url_for('static', filename='images/favicon.jpg') }}">
    <title>CR7 to 1000 Tracker - Live Ronaldo Stats</title>
</head>
<body>

    <div class="popup" id="loading-popup">
        <img src="{{ url_for('static', filename='images/loading.svg') }}" alt="">
        <p>Chargement des données</p>
    </div>

    <nav class="main-menu">
        <div>
            <img class="logo" src="{{ url_for('static', filename='images/banner.jpg') }}" alt="CR7 to 1000 banner">
        </div>
        <div class="burger">
            <img src="{{ url_for('static', filename='images/burger.svg') }}" alt="">
        </div>  
        <div class="link-container">
            <ul>
                <li>
                    <a href="dashboard">
                        <img src="{{ url_for('static', filename='images/dashboard.svg') }}" alt="Dashboard icon">
                        <p>Tableau de bord</p>
                    </a>
                </li>
                <li>
                    <a href="goals">
                        <img src="{{ url_for('static', filename='images/goals.svg') }}" alt="Goals icon">
                        <p>Buts</p>
                    </a>
                </li>
                <li>
                    <a href="reports">
                        <img src="{{ url_for('static', filename='images/reports.svg') }}" alt="Reports icon">
                        <p>Rapports</p>
                    </a>
                </li>
                <li >
                    <a href="videos">
                        <img src="{{ url_for('static', filename='images/videos.svg') }}" alt="Reports icon">
                        <p>Videos</p>
                    </a>
                </li>
            </ul>
            <div class="more-button">
                <img src="{{ url_for('static', filename='images/down-arrow.svg') }}" alt="">
                <div>
                    <p>Plus</p>
                    <ul class="dropdown">
                        <li><a href="bio">Biographie</a></li>
                        <li><a href="#">Blogs</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <section class="header">
        <h1>Dashboard</h1>
    </section>

    <section class="content-wrapper block-section">
        <div class="goals-container">
            <div class="goals-count">
                <h1 id="goals" data-countup>⏤</h1>
                <h3>/ 1000</h3>
            </div>
            <div class="progress-container">
                <div class="progress-slider">
                    <h3 class="progress-label"></h3>
                </div>
            </div>
        </div>

        <div class="prediction-container block">
            <h3>PREDICTION</h3>
            <h2 id="prediction">⏤</h2>
        </div>

        <div class="stats">
            <div class="average-goals block">
                <h2 id="average-goals">⏤</h2>
                <h3>BUT PAR SAISON</h3>
            </div>
            <div class="played-games block">
                <h2 id="played-games">⏤</h2>
                <h3>SAISONS DE JEU</h3>
            </div>
        </div>
    </section>

    <section class="goals-type block-section">
        <div class="field block">
            <div class="position-chart-container masked">
                <h4>BUT PAR POSITION</h4>
                <div id="position-custom-chart">
                    <img src="{{ url_for('static', filename='images/field.jpg') }}" alt="Football field">
                    <ul class="position-points">
                        <li id="CF" data-count="">CF</li>
                        <li id="LW" data-count="">LW</li>
                        <li id="RW" data-count="">RW</li>
                        <li id="SS" data-count="">SS</li>
                        <li id="LM" data-count="">LM</li>
                        <li id="RM" data-count="">RM</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="goals-description block">
            <canvas id="goals-type-chart"></canvas>
        </div>
    </section>

    <section class="timeframe block-section">
        <div class="time-chart block">
            <canvas id="time-chart"></canvas>
        </div>
    </section>

    <section class="footer">
        
    </section>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/ui-utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/charts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

</body>
</html>