@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@125,200&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --bg: #0c0e13;
    --bg-light: #14181e;
    --border: #2c2f34;
    --font-second: #666666;
    --light-red: #E8545F;
    --dark-red: #853D43;
}



/* GLOBAL */

html {
    height: 100%;
    display: flex;
}

body {
    background-color: var(--bg);
    margin: auto;
    width: 100%;
}

h1, h2 {
    font-family: 'Archivo Expanded', sans-serif;
    font-weight: 200;
    text-align: center;
}

h3, h5, p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}

li {
    font-size: 1.5vh;
}

h1 {
    font-size: 10vh;
    font-weight: 400;
}

h2 {
    font-size: 4vh;
}

h3 {
    font-size: 1.8vh;
    color: var(--font-second);
}

h4 {
    font-size: 1.5vh;
    color: white;
    text-align: center;
}


/* REUSABLE ELEMENTS */

section.block-section {
    background-color: var(--bg-light);
    border: solid var(--border) 2px;
    margin: 0px 60px;
    padding: 2vh;
    border-radius: 20px;
    margin-bottom: 3vh
}

.block {
    background-color: var(--bg);
    border-radius: 1vh;
    padding: 2vh 1vh;
}

.hidden {
    display: none !important;
}

.masked {
    visibility: hidden;
}


/* BANNER */

.logo {
    display: flex;
    margin: 6vh 0;
}

.logo > img {
    margin: auto;
    width: 30vh;
    mix-blend-mode: screen;
}


/* MAIN CONTENT */

.goals-count {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1vh;
}

/* progress */

.progress-container {
    width: 100%;
    height: 4vh;
    border-radius: 1vh;
    overflow: hidden;
    background-color: var(--bg);
    margin-top: 20px;
    margin-bottom: 2vh;
}

.progress-slider {
    background: rgb(255,142,68);
    background: linear-gradient(90deg, rgba(255,142,68,1) 0%, rgba(249,19,98,1) 100%);
    width: 0%;
    height: 100%;
    border-radius: 1vh;
    position: relative;
    transition: width 1.3s ease;
}

.progress-label {
    position: absolute;
    right: 1vh;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

/* stats */

.stats {
    display: flex;
    gap: 2vh;
}

.stats .block {
    width: 100%;
    margin-top: 2vh;
}

/* TYPE OF GOALS */

.goals-type {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.goals-type > .block {
    flex: 2;
}

/* CHARTS */

#goals-type-chart {
    height: 800px;
    width: 100%;
}

#time-chart {
    height: 550px;
}

/* POSITION CUSTOM CHART */

.field {
    overflow: hidden;
    user-select: none;
}

#position-custom-chart {
    position: relative
}

#position-custom-chart > img {
    width: 100%;
}

#position-custom-chart ul.position-points > li {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: var(--dark-red);
    border: 2px solid var(--light-red) !important;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:0px;
    width:0px;
    transition-property: height, width;
    transition-duration: .5s;
    transition-timing-function: ease;
}

ul.position-points #CF {
    left: 50%;
    top: 25%;
}
ul.position-points #LW {
    left: 25%;
    top: 35%;
}
ul.position-points #RW {
    left: 75%;
    top: 35%;
}
ul.position-points #SS {
    left: 50%;
    top: 45%;
}

/* POPUP */

.popup {
    background-color: var(--bg-light);
    border: solid var(--border) 2px;
    display: flex;
    align-items: center;
    gap: 1.5vh;
    position: fixed;
    border-radius: 8px;
    padding: 1vh 2vh;
    bottom: 20px;
    right: 20px;
    opacity: 0;
}

.popup img {
    width: 30px;
    height: 30px;
}


/* RESPONSIVE */

@media (min-width: 1000px) {

    section.block-section {
        max-width: 800px;
        margin: auto;
        margin-bottom: 3vh;
    }

    #position-custom-chart ul.position-points > li:hover {
        height: 7vh !important;
        width: 7vh !important;
    }

    .goals-type {
        flex-direction: row;
    }

    .goals-description {
        flex: 3 !important;
    }

    #goals-type-chart {
        height: 450px !important;
    }

    #time-chart {
        height: 350px;
    }
}