@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@125,200&display=swap');


* {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --bg: #0c0e13;
    --bg-light: #14181e;
    --border: #2c2f34;
    --font-second: #666666;
    --light-red: #E8545F;
    --dark-red: #853D43;
}



/* GLOBAL */

html {
    margin: 2vh
}

body {
    background-color: var(--bg);
}

h1, h2 {
    font-family: 'Archivo Expanded', sans-serif;
    font-weight: 200;
}

h3, h5, p {
    font-weight: 400;
}


h1 {
    font-size: 10vh;
    font-weight: 400;
    margin-top: 0;
}

h2 {
    font-size: 4vh;
}

h3 {
    font-size: 1.8vh;
    color: var(--font-second);
}

h4 {
    font-size: 1.5vh;
}