/* MAIN CONTENT */

.goals-count {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1vh;
}

/* progress */

.progress-container {
    width: 100%;
    height: 4vh;
    border-radius: 1vh;
    overflow: hidden;
    background-color: var(--bg);
    margin-top: 20px;
    margin-bottom: 2vh;
}

.progress-slider {
    background: rgb(255,142,68);
    background: linear-gradient(90deg, rgba(255,142,68,1) 0%, rgba(249,19,98,1) 100%);
    width: 0%;
    height: 100%;
    border-radius: 1vh;
    position: relative;
    transition: width 1.3s ease;
}

.progress-label {
    position: absolute;
    right: 1vh;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

/* stats */

.stats {
    display: flex;
    gap: 2vh;
}

.stats .block {
    width: 100%;
    margin-top: 2vh;
}

/* TYPE OF GOALS */

.goals-type {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.goals-type > .block {
    flex: 2;
}

/* CHARTS */

#goals-type-chart {
    height: 800px;
    width: 100%;
}

#time-chart {
    height: 550px;
}

/* POSITION CUSTOM CHART */

.field {
    overflow: hidden;
    user-select: none;
}

#position-custom-chart {
    position: relative
}

#position-custom-chart > img {
    width: 100%;
}

#position-custom-chart ul.position-points > li {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: var(--dark-red);
    border: 2px solid var(--light-red) !important;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:0px;
    width:0px;
    transition-property: height, width;
    transition-duration: .5s;
    transition-timing-function: ease;
}

ul.position-points #CF {
    left: 50%;
    top: 25%;
}
ul.position-points #LW {
    left: 25%;
    top: 35%;
}
ul.position-points #RW {
    left: 75%;
    top: 35%;
}
ul.position-points #SS {
    left: 50%;
    top: 45%;
}
ul.position-points #LM {
    left: 20%;
    top: 60%;
}
ul.position-points #RM {
    left: 80%;
    top: 60%;
}


/* RESPONSIVE */

@media (min-width: 1000px) {

    #position-custom-chart ul.position-points > li:hover {
        height: 7vh !important;
        width: 7vh !important;
    }

    .goals-type {
        flex-direction: row;
    }

    .goals-description {
        flex: 3 !important;
    }

    #goals-type-chart {
        height: 450px !important;
    }

    #time-chart {
        height: 350px;
    }
}