<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>CR7 to 1000</title>
</head>
<body>

    <div class="popup" id="loading-popup">
        <img src="{{ url_for('static', filename='images/loading.svg') }}" alt="">
        <p>Chargement des données</p>
    </div>

    <section class="logo">
        <img src="{{ url_for('static', filename='images/banner.jpg') }}" alt="CR7 to 1000 banner">
    </section>

    <section class="content-wrapper block-section">
        <div class="goals-container">
            <div class="goals-count">
                <h1 id="goals" data-countup>⏤</h1>
                <h3>/ 1000</h3>
            </div>
            <div class="progress-container">
                <div class="progress-slider">
                    <h3 class="progress-label"></h3>
                </div>
            </div>
        </div>

        <div class="prediction-container block">
            <h3>PREDICTION</h3>
            <h2 id="prediction">⏤</h2>
        </div>

        <div class="stats">
            <div class="average-goals block">
                <h2 id="average-goals">⏤</h2>
                <h3>BUT PAR SAISON</h3>
            </div>
            <div class="played-games block">
                <h2 id="played-games">⏤</h2>
                <h3>SAISONS DE JEU</h3>
            </div>
        </div>
    </section>

    <section class="goals-type block-section">
        <div class="field block">
            <div class="position-chart-container masked">
                <h4>BUT PAR POSITION</h4>
                <div id="position-custom-chart">
                    <img src="{{ url_for('static', filename='images/field.jpg') }}" alt="Football field">
                    <ul class="position-points">
                        <li id="CF" data-count="">CF</li>
                        <li id="LW" data-count="">LW</li>
                        <li id="RW" data-count="">RW</li>
                        <li id="SS" data-count="">SS</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="goals-description block">
            <canvas id="goals-type-chart"></canvas>
        </div>
    </section>

    <section class="timeframe block-section">
        <div class="time-chart block">
            <canvas id="time-chart"></canvas>
        </div>
    </section>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/ui-utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/charts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>